.burger
{
    height: 250px;
}
.list-group-item
{
    padding: 5px;
    padding-left: 20px;
    height: 50px;
}
body{
    background-color: #ffcc66;
}
h3
{
    padding: 10px;
    background-color: #ff9900;
}